*
{/*pour que la taille de police soit relative au width ou height, le plus petit des deux*/
	font-size: 4vmin;
}
		
#debug
{
	max-height:800px;
	overflow:hidden;
}

#nomJoueur
{
	padding-left:22%;
	font-size: 2vw;
}

#nomAdversaire
{
	padding-left:20%;
	font-size: 2vw;
}
		
@keyframes arc-en-ciel /*animation qui change la couleur du background comme un arc en ciel et la couleur d'écriture comme l'opposé*/
{
	0% {background-color: #FF0000;color:#00FFFF}
	20% {background-color: #FF7F00;color:#0080FF}
	35%  {background-color: #FFFF00;color:#0000FF}
	50% {background-color: #00FF00;color:#FF00FF}
	65% {background-color: #0000FF;color:#FFFF00}
	80% {background-color: #4B0082;color:#B4FF7D}
	100% {background-color: #9400D3;color:#6BFF2C}
}
		
#vitesse /*animation de la vitesse*/
{
	max-width:5%;
	position: fixed;
	border-radius:100%;
	top:0px;
	margin-left:1px;
	font-size:8vmin;

	animation-name: arc-en-ciel;
	animation-timing-function:linear;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	animation-direction:alternate;
}

html 
{
	height: 100%;
}

#canevas /*enleve le curseur pour une meilleure immersion*/
{
	cursor: none;
}

body 
{
	position:relative;
	min-height: 100%;
	max-height: 100%;
	height:100%;
	margin:0;
	padding:0;
	background-color:#33AAFF;
}

canvas
{
  position:absolute;
  display:block;
  /*
  Pour que le text soit au dessus du canvas
  */
}

/*
Définition relative à la navigation
*/
a
{
  display:block;
}

.menu
{
  position:absolute;
  font-size:3vmin;
  top:15%;
  /*
  Pour que le text soit au dessus du canvas
  */
}

svg{
    position:absolute;
    left:0px;
    bottom:10%;
}

@keyframes etirer /*animation qui change la couleur du background comme un arc en ciel et la couleur d'écriture comme l'opposé*/
{
    from {transform: translate(0px, +10px) scale(0.5);opacity:0}
    to {transform: scale(1) translate(+10px, -10px) rotate(-3deg);opacity:1}
}

ellipse
{
    animation-name: etirer;
	animation-timing-function:linear;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction:alternate;
}

ellipse:hover
{
    fill:url(#grad2);
}
ellipse:active
{
    fill:url(#grad3);
}
